.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px 20px 20px 20px;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  letter-spacing: 3px;
  background-color: #c7bfa6;
  color: white;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 270%;
  color: #6c7957;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 150%;
  color: #6c7957;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 100%;
  padding-bottom: 4%;
  color: #9b9f7e;
}
