@media (min-width: 600px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e0d9;
    margin-bottom: 30px;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 30px;
  }
  .grid_2-1 h2 {
    margin-left: 32px;
    margin-inline: 7%;
  }

  .grid_2-1 p {
    margin-left: 32px;
    margin-inline: 7%;
    max-width: 800px;
  }

  .grid_2-1 button {
    margin-left: 32px;
    margin-inline: 7%;
    margin-bottom: 40px;
  }
  .order {
    order: -1;
  }
  .grid_1-2 p {
    max-width: 800px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .grid_1-1 h3 {
    margin-left: 67px;
  }

  .grid_1-1 p {
    margin-left: 67px;
    max-width: 550px;
  }

  .grid_1-1 button {
    margin-left: 67px;
    margin-bottom: 40px;
  }
  .grid_5 {
    display: grid;
    grid-template-rows: 0.1fr;
    background-color: #e2e0d9;
    text-align: center;
  }
}

figure img {
  width: 80%;
  margin-inline: 7%;
  padding-top: 6%;
}

figure {
  margin-inline: 7%;
}

figcaption {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 80%;
  font-style: italic;
  padding-bottom: 4%;
  color: #9b9f7e;
  margin-inline: 7%;
  margin-top: 10px;
}

.obs {
  font-weight: bold;
}

.info {
  margin-left: 67px;
  margin-bottom: 20px;
  margin-top: 60px;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px 20px 20px 20px;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  letter-spacing: 3px;
  background-color: #c7bfa6;
  color: white;
  cursor: pointer;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 270%;
  color: #6c7957;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 150%;
  color: #6c7957;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 120%;
  color: #6c7957;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 100%;
  padding-bottom: 4%;
  color: #9b9f7e;
  line-height: 150%;
}

main {
  background-color: white;
}

.streg {
  border-right: solid 1.3px #e2e0d9;
}

.kundeliste li {
  list-style: disc;
  display: list-item;
  margin-inline: 7%;
  line-height: 150%;
  font-size: 100%;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #9b9f7e;
  text-transform: none;
}

.kundeliste {
  margin-bottom: 30px;
  margin-left: 35px;
}

.bronze {
  margin-top: 2%;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 170%;
  color: #393f2c;
  margin-bottom: 0.7%;
}

.dk {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 90%;
  color: #6c7957;
  margin-bottom: 2%;
  padding: 0;
  line-height: 0%;
}

.dbf {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.dbf img {
  width: 20%;
}
