/* ------------------------------MEDIA 1-------------------------------- */


@media (min-width: 1100px) {



/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.8fr 1fr 1fr 0.96fr 0.1fr;
    /* background-color: red; */

}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: right;
padding-right: 10%;
padding-top: 10%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 270%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 100%;
    padding-bottom: 4%;
    color: #9B9F7E;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 90%;
     color: #393F2C;
    letter-spacing: 3px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 70%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}


.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}



.button_newgrid {
    display: none;
}


/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 70%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 15%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 50%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 170%;
    color: #393F2C;
    margin-right: 45%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 70%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 3%;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 170%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
    color: #6C7957;
    margin-bottom: 2%;

}

}















/* ------------------------------MEDIA 2-------------------------------- */



@media (min-width: 1000px) and (max-width: 1100px) {


/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.8fr 1fr 1fr 0.96fr 0.1fr;
    /* background-color: orange; */
}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: right;
padding-right: 10%;
padding-top: 10%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 270%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 100%;
    padding-bottom: 4%;
    color: #9B9F7E;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 80%;
     color: #393F2C;
    letter-spacing: 3px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 60%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}

.grid_2 button {
    font-size: 80%;
    padding-inline: 2.5rem;
}


.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}


.button_newgrid {
    display: none;
}



/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
    padding-top: 1%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 70%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 11%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 40%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #393F2C;
    margin-right: 40%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 60%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 3%;
}

.grid_4 button {
    font-size: 80%;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 170%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
    color: #6C7957;
    margin-bottom: 2%;

}


}


















/* ------------------------------MEDIA 3-------------------------------- */



@media (min-width: 850px) and (max-width: 1000px) {



/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.8fr 1fr 1fr 0.96fr 0.1fr;
    /* background-color: yellow; */
}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: right;
padding-right: 10%;
padding-top: 10%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 230%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 80%;
    padding-bottom: 4%;
    color: #9B9F7E;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

  .grid_1 button {
      font-size: 85%;
  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 60%;
     color: #393F2C;
    letter-spacing: 3px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 57%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}

.grid_2 button {
    font-size: 67%;
    padding-inline: 2.5rem;
}


.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}

.button_newgrid {
    display: none;
}



/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
    padding-top: 1%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 70%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 11%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 30%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 110%;
    color: #393F2C;
    margin-right: 40%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 50%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 2%;
}

.grid_4 button {
    font-size: 67%;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 170%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
    color: #6C7957;
    margin-bottom: 2%;

}


}












/* ------------------------------MEDIA 4-------------------------------- */




@media (min-width: 600px) and (max-width: 850px) {





/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.8fr 1fr 1fr 0.96fr 0.1fr;
    /* background-color: lightgreen; */
}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: right;
padding-right: 10%;
padding-top: 10%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 190%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 65%;
    padding-bottom: 4%;
    color: #9B9F7E;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

  .grid_1 button {
      font-size: 70%;
  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 140%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 50%;
     color: #393F2C;
    letter-spacing: 2px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 45%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}

.grid_2 button {
    font-size: 50%;
    padding-inline: 1.5rem;
}


.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}


.button_newgrid {
    display: none;
}


/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
    padding-top: 2%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 40%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 11%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 20%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 90%;
    color: #393F2C;
    margin-right: 40%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 40%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 2%;
}

.grid_4 button {
    font-size: 45%;
    padding-inline: 1.4rem;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 140%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 70%;
    color: #6C7957;
    margin-bottom: 2%;

}


}














/* ------------------------------MEDIA 5-------------------------------- */


@media (min-width: 320px) and (max-width: 600px) {




/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.7fr 1fr 0.55fr 0.4fr 0.05fr;
    /* background-color: lightsalmon; */
}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: center;
padding-top: 28%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 170%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 60%;
    padding-bottom: 8%;
    color: #9B9F7E;
    padding-inline: 6%;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

  .grid_1 button {
      font-size: 80%;
      padding-block: 0.6rem;
      padding-inline: 2.6rem;

  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 120%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 70%;
     color: #393F2C;
    letter-spacing: 2px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 60%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}

.grid_2 button {
    font-size: 50%;
    padding-inline: 1.5rem;
    margin-top: 10%;
}


.grid_2-2 {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: none;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}


.button_newgrid {
    padding-top: 40%;
}


/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
    padding-top: 17%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 40%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 11%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 20%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 70%;
    color: #393F2C;
    margin-right: 30%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 30%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 2%;
}

.grid_4 button {
    font-size: 37%;
    padding-inline: 1.3rem;
    padding-block: 0.3rem;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 60%;
    color: #6C7957;
    margin-bottom: 2%;

}



}



















@media (min-width: 0px) and (max-width: 320px) {



/* ----------------------------- Generelt ------------------------------- */
main img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-rows: 0.7fr 1fr 0.55fr 0.4fr 0.05fr;
    /* background-color: lightsalmon; */
}



/* ----------------------------- GRID 1 ------------------------------- */
.grid_1 {
   background-image: url("/foto/placeholder_forside/hero_placeholder.svg");
}


.velkommen_tekst {
    text-align-last: center;
padding-top: 28%;

}

.grid_1 h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 160%;
    color: #6C7957;
}

.grid_1 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 60%;
    padding-bottom: 8%;
    color: #9B9F7E;
    padding-inline: 6%;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    border: none;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    letter-spacing: 3px;
    background-color: #C7BFA6;
    color: white;
  }

  .grid_1 button {
      font-size: 80%;
      padding-block: 0.6rem;
      padding-inline: 2.6rem;

  }

/* ----------------------------- GRID 2 ------------------------------- */
.grid_2 {
    margin-inline: 7%;
}

.grid_2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 90%;
    color: #6C7957; 
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 2%;
}
.grid_2 h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 53%;
     color: #393F2C;
    letter-spacing: 2px;
    
}

.grid_2 p {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 50%;
    font-style: italic;
    padding-bottom: 4%;
    color: #6C7957;
    padding-top: 3%;
}

.grid_2 button {
    font-size: 50%;
    padding-inline: 1.5rem;
    margin-top: 10%;
}


.grid_2-2 {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 3%;
}
.grid_2-3 {
    display: none;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    gap: 3%;
}


.button_newgrid {
    padding-top: 40%;
}


/* ----------------------------- GRID 3 ------------------------------- */
.grid_3 {
    margin-inline: 7%;
    padding-top: 20%;
}
.grid_3 p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 40%;
    color: #9B9F7E;
    letter-spacing: 1px;
    margin-bottom: 5%;
    text-align: center;
   

}


/* ----------------------------- GRID 4 ------------------------------- */
.grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-inline: 7%;
}

.omjohn_tekst {
    margin-top: 5%;
}
.grid_4 small {
    font-family: 'Merriweather', serif;
    font-size: 10%;
    color: #9B9F7E;
    
}

.grid_4 h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 45%;
    color: #393F2C;
    margin-right: 30%;
    margin-top: 1%;
    font-style: italic;
}

.grid_4 p {
    font-family: 'Work Sans', sans-serif;
 font-size: 20%;
 margin-right: 20%;
 color: #6C7957;
 margin-bottom: 7%;
 margin-top: 2%;
}

.grid_4 button {
    font-size: 37%;
    padding-inline: 1.3rem;
    padding-block: 0.3rem;
}

/* ----------------------------- GRID 5 ------------------------------- */
.grid_5 {
    background-color: #E2E0D9;
    text-align: center;

}

.grid_5 h1 {
margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 80%;
    color: #393F2C; 
}

.grid_5 p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 50%;
    color: #6C7957;
    margin-bottom: 2%;

}


}