@media only screen and (max-width: 600px) {
  main {
    margin-inline: 7%;
  }
}

@media only screen and (min-width: 600px) {
  main {
    display: grid;
  }
}

h1 {
  font-size: 270%;
  color: #6c7957;
  letter-spacing: 5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 3%;
}

h2 {
  font-size: 240%;
  color: #6c7957;

  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: 150%;
  color: #6c7957;

  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1%;
}

p {
  color: #6c7957;
  font-family: "Merriweather", serif;
  font-size: 120%;
  font-weight: 200;
}

.grid1 {
  margin-inline: 7%;
}

.con_text {
  display: flex;
  position: relative;
  margin-left: 10%;
  gap: 6%;
  margin: 12px 20px 18px 0;
}

.con_text img {
  width: 20px;
  height: 100%;
}

.con_2 {
  margin-bottom: 1%;
  margin-top: 5%;
}

.con_1 img {
  width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (min-width: 740px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.maps h2 {
  margin-bottom: 1%;
  margin-top: 2%;
  margin-inline: 7%;
}

@media only screen and (min-width: 700px) {
  section {
    display: grid;
    gap: 3rem;
    align-self: start;
    grid-template-columns: 1fr 1fr;
    margin-inline: 7%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .form-felt {
    width: 80%;
  }
}

section {
  margin-bottom: 2%;
  margin-top: 3%;
  margin-inline: 7%;
}

section h2 {
  text-align: center;
}

section p {
  margin-top: 5%;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

label,
input,
textarea,
select,
button {
  display: block;
}

label {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  color: black;
}

form {
  padding: 5%;
  background: #e2e0d9;
  border-radius: 8px;
  display: grid;
  width: 100%;
  margin-top: 5%;
}

button {
  font-family: "Work Sans", sans-serif;

  text-transform: uppercase;
  border-radius: 20px 20px 20px 20px;
  border: none;
  padding-block: 0.7rem;
  font-size: 100%;
  letter-spacing: 3px;
  background-color: #c7bfa6;
  color: white;
  margin-top: 3%;
}

.form-felt {
  display: grid;
  margin: auto;
  width: 100%;
}

input {
  padding: 1%;
}

textarea {
  width: 100%;
  margin-top: 1%;
}

.grid2 {
  margin-bottom: 5%;
}

.grid2 h2 {
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
}

.box {
  background-color: #e2e0d9;
  width: 72%;
  padding: 5% 3% 2% 3%;
  margin: auto;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box p {
  font-size: 110%;
  color: #6f785a;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 140%;

  font-weight: 300;
  text-align: center;
  margin-bottom: 34%;
}

.box figcaption {
  font-size: 170%;
  color: white;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin-top: auto;
  font-style: italic;
}

@media only screen and (min-width: 520px) {
  .box {
    width: 65%;
  }

  .grid2 {
    margin-inline: 7%;
  }
}

@media only screen and (min-width: 600px) {
  .grid2 {
    margin-inline: 7%;
  }

  .grid2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1%;
  }

  .grid2 h2 {
    text-align: center;
  }

  .box {
    width: 71%;
    height: auto;
  }

  .box p {
    margin-top: 0;
  }
}

@media only screen and (min-width: 940px) {
  .grid2_1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1%;
  }

  .box {
    height: 100%;
    width: 95%;
  }
}

footer {
  margin-inline: 7%;
  margin-bottom: 2%;
  border-top: 1px solid black;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.col_text {
  margin-bottom: 3%;
}

.col_text p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: black;
  margin-bottom: 1%;
}

.f_icon_grid {
  max-width: 60px;
  margin: auto;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 145%;
  margin-bottom: 1%;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 1%;
}

@media (min-width: 700px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 7%;
    margin-bottom: 2%;
    text-align: left;
  }

  .f_grid_1 .col {
    width: max-content;
  }

  .f_grid_1 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10%;
  }

  .f_icon_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60px;
    margin: auto;
  }

  h4 {
    margin-bottom: 4%;
    font-size: 125%;
  }

  h5 {
    font-size: 90%;
  }

  .col_text {
    margin-bottom: 5%;
  }

  .col_text p {
    font-size: 80%;
  }
}
