header {
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: antiquewhite;
  height: 75px;
}

.nav_links {
  color: #ee23f2;
  margin-top: 4%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav_links :hover {
  color: #ffffff;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

header .logo {
  margin-bottom: 2rem;
  float: left;
}

header .logo img {
  width: 10%;
}
