* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-size: 20px;
  text-decoration: none;
  color: #6C7957;
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
  box-shadow: 0 12px 50px 0 #f8f7f7e1;
}

.logo {
  cursor: pointer;
  width: 12%;
}

.logo-s {
  cursor: pointer;
  width: 3%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #a5ad96;
}





/*header {
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: antiquewhite;
  height: 75px;
}

.nav_links {
  color: #ee23f2;
  margin-top: 4%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav_links :hover {
  color: #ffffff;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

header .logo {
  margin-bottom: 2rem;
  float: left;
}

header .logo img {
  width: 10%;
}
