* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
  box-shadow: 0 12px 50px 0 #f8f7f7e1;
  flex-wrap: wrap;

}

img { 
  width: 100%;
  height:auto
}


.nav-links {
  display: flex;
 gap:2rem;
 list-style: none;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #a5ad96;
}

li,
a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #6C7957;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;

}
.logo {
  width: 95px
}

/* burgermenu */

.toggle-btn {
  background: transparent;
  border: none;
  font-size: 125%;
  font-weight: 500;
  color: #6c7957;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;

  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
    text-align: right;
  }

  .main-menu .nav-links {
    display: none;
  }

  .main-menu.shown .nav-links {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}


footer {
  margin-inline: 7%;
  margin-bottom: 2%;
  border-top: 1px solid black;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.col_text {
  margin-bottom: 3%;
}

.col_text p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: black;
  margin-bottom: 1%;
}

.f_icon_grid {
  max-width: 60px;
  margin: auto;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 145%;
  margin-bottom: 1%;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 1%;
}

@media (min-width: 700px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 7%;
    margin-bottom: 2%;
    text-align: left;
  }

  .f_grid_1 .col {
    width: max-content;
  }

  .f_grid_1 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10%;
  }

  .f_icon_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60px;
    margin: auto;
  }

  h4 {
    margin-bottom: 4%;
    font-size: 125%;
  }

  h5 {
    font-size: 90%;
  }

  .col_text {
    margin-bottom: 5%;
  }

  .col_text p {
    font-size: 80%;
  }
}

/*//////////////////////////////////////////
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
  box-shadow: 0 12px 50px 0 #f8f7f7e1;
}

.logo {
 cursor: pointer;
 width:12%
}

.logo-s {
  cursor: pointer;
  width: 3%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
 padding: 0px 30px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #a5ad96;
}

li,
a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #6C7957;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;

}
////


/*header {
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: antiquewhite;
  height: 75px;
}

.nav_links {
  color: #ee23f2;
  margin-top: 4%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav_links :hover {
  color: #ffffff;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

header .logo {
  margin-bottom: 2rem;
  float: left;
}

header .logo img {
  width: 10%;
}
li,
a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #6C7957;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;

}
