main {
  background-color: white;
}

h1 {
  font-size: 270%;
  line-height: 1.1;
  color: #6f785a;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 260%;
  color: #6c7957;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 150%;
  color: #6c7957;
  margin-bottom: 10px;
  margin-top: 15px;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 100%;
  padding-bottom: 4%;
  color: #9b9f7e;
  line-height: 150%;
}

.start {
  background-image: url(/foto/om.jpg);
  background-size: cover;
  padding: 16%;
}

.box_1 {
  background-color: #e2e0d9;
  text-align: center;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 7%;
}

.box_1 p {
  font-size: 1.2rem;
  color: #6f785a;
  font-family: "Merriweather", serif;
  max-width: 65ch;
  line-height: 140%;
  padding-bottom: 20px;
  font-weight: 300;
}

.grid_1 {
  margin-inline: 7%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.grid_2 {
  padding-inline: 7%;
  margin-top: 25px;
  margin-bottom: 30px;
}
.col img {
  margin: auto;
}
figure {
  width: 100%;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px 20px 20px 20px;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  letter-spacing: 3px;
  background-color: #c7bfa6;
  color: white;
  cursor: pointer;
}

@media (min-width: 600px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
    margin-inline: 5%;
    margin-block: 15px;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e0d9;
    gap: 5%;
    /* padding-inline: 5%; */
    padding-left: 6%;
    padding-block: 15px;
  }

  .grid_2 figure {
    order: 1;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 900px) {
  .grid_1 {
    gap: 25px;
    margin-inline-start: 0;
  }

  .grid_2 {
    gap: 25px;
  }
  img {
    max-width: 60%;
  }
}
/* .title h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    color: #4b5535;
    font-family: "Work Sans", sans-serif;
    margin-top: -21%;
    margin-left: 38%;
  }
  .box_1 p {
    font-size: 1.2rem;
    color: #6f785a;
    font-family: "Merriweather", serif;
    max-width: 65ch;
    line-height: 140%;
    margin-left: 25%;
    font-weight: 300;
    margin-top: 4%;
  } */
